<!DOCTYPE html>
<html lang="en">
<head>
  <title>"It's lonely out in space...."</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
    
      background-color: rgba(141, 31, 4, 0.7);
      padding: 25px;
      font-size: 18px;
    }

    .jumbotron {
    background: rgba(141, 31, 4, 0.7);
}

    .container-fluid {
    border: 3px;
    border-color: black;
    
    }
  </style>
</head>
<body>



<div class="jumbotron" >
  <div class="container text-center">
    <h1>Mission to Mars</h1>      
    <p>It's red, it's cold, and it's our neighbor!</p>
    <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Refresh Mars Data</a></p>
  </div>
</div>
  
<div class="container-fluid bg-3 text-center">    
  <h3>Featured Image of the Day</h3>
  <img src="{{ mars.featured_image }}" width="25%" alt="mars_img">
  <br>
  <div class="row">
    <div class="col-sm-4">
        <h3>Red Hot Martian News</h3>
      <p>{{mars.news_header}}</p>
      <p>{{mars.news_body}}</p>
    </div>
    <div class="col-sm-4"> 
        <h3>Current Mars Weather</h3>
      <p>{{mars.tweet}}</p>
    </div>
    <div class="col-sm-4"> 
        <h3><p>Mars Facts</p></h3>
      <center><p>{{mars.table | safe}}</p></center>
    </div>

  </div>
</div><br>

<div class="container-fluid bg-3 text-center">    
  <div class="row">
    <div class="col-sm-3">
      <p>{{ mars.hemisphere[0].title}}</p>
      <img src = {{ mars.hemisphere[0].img_url}} width="65%" >
    </div>
    <div class="col-sm-3"> 
      <p>{{ mars.hemisphere[1].title}}</p>
      <img src = {{ mars.hemisphere[1].img_url}} width="65%">
    </div>
    <div class="col-sm-3"> 
      <p>{{ mars.hemisphere[2].title}}</p>
      <img src = {{ mars.hemisphere[2].img_url}} width="65%">
    </div>
    <div class="col-sm-3">
      <p>{{ mars.hemisphere[3].title}}</p>
      <img src = {{ mars.hemisphere[3].img_url}} width="65%">
    </div>
  </div>
</div><br><br>

<footer class="container-fluid text-center">
  <p>Why are there no cats on Mars?  ...Because Curiosity killed them</p>
</footer>

</body>
</html>
